extends layout.pug

block head
    title Galeria
block content
    div.container.collor-white.space
        div.row.my-4
            div.col-sm12.col-md-4.mb-4
                div.card
                    img.card-img-top(src="http://via.placeholder.com/286x180", alt="Imagem do Card")
            div.col-sm12.col-md-4.mb-4
                div.card
                    img.card-img-top(src="http://via.placeholder.com/286x180", alt="Imagem do Card")
            div.col-sm12.col-md-4.mb-4
                div.card
                    img.card-img-top(src="http://via.placeholder.com/286x180", alt="Imagem do Card")
        div.row    
            div.col-sm12.col-md-4.mb-4
                div.card
                    img.card-img-top(src="http://via.placeholder.com/286x180", alt="Imagem do Card")
            div.col-sm12.col-md-4.mb-4
                div.card
                    img.card-img-top(src="http://via.placeholder.com/286x180", alt="Imagem do Card")
            div.col-sm12.col-md-4.mb-4
                div.card
                    img.card-img-top(src="http://via.placeholder.com/286x180", alt="Imagem do Card")
        div.row    
            div.col-sm12.col-md-4.mb-4
                div.card
                    img.card-img-top(src="http://via.placeholder.com/286x180", alt="Imagem do Card")
            div.col-sm12.col-md-4.mb-4
                div.card
                    img.card-img-top(src="http://via.placeholder.com/286x180", alt="Imagem do Card")
            div.col-sm12.col-md-4.mb-4
                div.card
                    img.card-img-top(src="http://via.placeholder.com/286x180", alt="Imagem do Card")
        div.row    
            div.col-sm12.col-md-4.mb-4
                div.card
                    img.card-img-top(src="http://via.placeholder.com/286x180", alt="Imagem do Card")
            div.col-sm12.col-md-4.mb-4
                div.card
                    img.card-img-top(src="http://via.placeholder.com/286x180", alt="Imagem do Card")
            div.col-sm12.col-md-4.mb-4
                div.card
                    img.card-img-top(src="http://via.placeholder.com/286x180", alt="Imagem do Card")
