extends layout.pug

block head
    title Galeria
block content
    div.container
        div.row.my-4
            div.col-sm12.col-md-4.mb-4
                div.card
                    img.card-img-top(src="http://via.placeholder.com/286x180", alt="Imagem do Card")
                    div.card-body.text-center
                        h4.card-little Titulo do card 01
                        p.card-text Um texto simples para testar
                        a.btn.btn-primary(href="#") Um Link
            div.col-sm12.col-md-4.mb-4
                div.card
                    img.card-img-top(src="http://via.placeholder.com/286x180", alt="Imagem do Card")
                    div.card-body.text-center
                        h4.card-little Titulo do card 02
                        p.card-text Um texto simples para testar
                        a.btn.btn-primary(href="#") Um Link
            div.col-sm12.col-md-4.mb-4
                div.card
                    img.card-img-top(src="http://via.placeholder.com/286x180", alt="Imagem do Card")
                    div.card-body.text-center
                        h4.card-little Titulo do card 03
                        p.card-text Um texto simples para testar
                        a.btn.btn-primary(href="#") Um Link
        div.row    
            div.col-sm12.col-md-4.mb-4
                div.card
                    img.card-img-top(src="http://via.placeholder.com/286x180", alt="Imagem do Card")
                    div.card-body.text-center
                        h4.card-little Titulo do card 04
                        p.card-text Um texto simples para testar
                        a.btn.btn-primary(href="#") Um Link
            div.col-sm12.col-md-4.mb-4
                div.card
                    img.card-img-top(src="http://via.placeholder.com/286x180", alt="Imagem do Card")
                    div.card-body.text-center
                        h4.card-little Titulo do card 05
                        p.card-text Um texto simples para testar
                        a.btn.btn-primary(href="#") Um Link
            div.col-sm12.col-md-4.mb-4
                div.card
                    img.card-img-top(src="http://via.placeholder.com/286x180", alt="Imagem do Card")
                    div.card-body.text-center
                        h4.card-little Titulo do card 06
                        p.card-text Um texto simples para testar
                        a.btn.btn-primary(href="#") Um Link
