extends layout.pug

block head
    title Histórico
block content
    div.jumbotron.jumbotron-fluid
        div.container.collor-white
            div.row
                div.col-12.text-center
                    h1.display-4.mb-5 Histórico de Viagens
            div.row
                div.col-12
                    div.tab-content(id="nav-pills-content")
                        div.tab-pane.fade.show.active.mt-4
                            div.row
                                div.col-sm-4
                                    div.div.card
                                        img.card-img-top(src="http://via.placeholder.com/286x180", alt="Imagem do Card")
                                div.col-sm-6.mt-4.mt-md-0
                                    h3 Titulo da viagem
                                    p Separamos para você alguns dos melhores momentos 
                                        p que você pode viver, você já pode sentir o cheiro do 
                                        p seu destino.
                                    div.col-sm-12.text-right.mt-4
                                        button.btn.btn-primary(type="button") Conferir
                            div.row.mt-4
                                div.col-sm-4
                                    div.div.card
                                        img.card-img-top(src="http://via.placeholder.com/286x180", alt="Imagem do Card")
                                div.col-sm-6.mt-4.mt-md-0
                                    h3 Titulo da viagem
                                    p Separamos para você alguns dos melhores momentos 
                                        p que você pode viver, você já pode sentir o cheiro do 
                                        p seu destino.
                                    div.col-sm-12.text-right.mt-4
                                        button.btn.btn-primary(type="button") Conferir
                            div.row.mt-4
                                div.col-sm-4
                                    div.div.card
                                        img.card-img-top(src="http://via.placeholder.com/286x180", alt="Imagem do Card")
                                div.col-sm-6.mt-4.mt-md-0
                                    h3 Titulo da viagem
                                    p Separamos para você alguns dos melhores momentos 
                                        p que você pode viver, você já pode sentir o cheiro do 
                                        p seu destino.
                                    div.col-sm-12.text-right.mt-4
                                        button.btn.btn-primary(type="button") Conferir
                            div.row.mt-4.pb-5
                                div.col-sm-4
                                    div.div.card
                                        img.card-img-top(src="http://via.placeholder.com/286x180", alt="Imagem do Card")
                                div.col-sm-6.mt-4.mt-md-0
                                    h3 Titulo da viagem
                                    p Separamos para você alguns dos melhores momentos 
                                        p que você pode viver, você já pode sentir o cheiro do 
                                        p seu destino.
                                    div.col-sm-12.text-right.mt-4
                                        button.btn.btn-primary(type="button") Conferir