extends layout.pug

block head
    title Login
block content
    div.jumbotron.jumbotron-fluid
        div.container.collor-white      
            div.row.collor-white
                div.col-md-12.col-10.text-center.my-md-4.mb-4.mt-2.ml-4
                    h1.display-4 Cadastro
                
            div.row.justify-content-center.mb-5.collor-white.space
                div.col-sm-12.col-md-10.col-lg-8
                    form
                        div.form-row
                            div.form-group.col-sm-6
                                label(for="inputNome") Nome:
                                input.form-control(type="text", id="inputNome", placeholder="Digite seu nome")
                            div.form-group.col-sm-6
                                label(for="inputCurso") Curso:
                                input.form-control(type="text", id="inputCurso", placeholder="Digite seu curso")
                        div.form-row
                            div.form-group.col-sm-6
                                label(for="inputCpf") CPF:
                                input.form-control(type="text", id="inputCpf", placeholder="Digite seu CPF")
                            div.form-group.col-sm-6
                                label(for="inputRg") RG:
                                input.form-control(type="text", id="inputRg", placeholder="Digite seu RG")
                        div.form-row
                            div.form-group.col-sm-12
                                label(for="inputEmail") Email:
                                input.form-control(type="text", id="inputEmail", placeholder="Digite seu email")
                        div.form-row
                            div.form-group.col-sm-6
                                label(for="inputSenha") Senha:
                                input.form-control(type="text", id="inputSenha", placeholder="Digite sua senha")

                        div.form-row
                            div.form-group.col-sm-12
                                div.form-check
                                    label.form-check-label Lembrar Senha
                                    input.form-check-input(type="checkbox")
                        div.form-row 
                            div.col-sm-12
                                button.btn.btn-primary(type="submit") Enviar       
            